/*Written by Constantin Gavrila (1 to 89)*/

/*
font-family: 'Nanum Gothic', sans-serif; //for text
font-family: 'Ubuntu', sans-serif; //for headlines or buttons
*/
.card-img-top{
	width: 100%;
	height: 100%;
}
/*Style applied to body*/
body{
	background-image: url("images/background.webp");
	background-repeat: repeat;
}
/*Style applied to the wrapper holding the entire page centered*/
.wrapper{
	background: #6B6B6B;
    border: 1px solid #ccc;
    margin: 30px auto;
    max-width: 1400px;
}
/*Style applied to navigation buttons*/
.nav-pills a{
	text-align: center;
	color:#FBC02D;
	font-family: "Ubuntu", sans-serif;
}
.nav-pills a:hover{
	color:#FDE93C;
}
.nav-pills .nav-link.active {
	background-color: #454545;
	color:#FBC02D;
}
/*targeting the participant / visitor buttons by its ID's*/
#buyTickets{
	border: 1px solid #ccc;
	float: right;
	width: 100%;
}
#regAsDriver{
	border: 1px solid #ccc;
	float: left;
	width: 100%;
}
/*Style applied to the form*/
.form-text{
	color: #FBC02D;
	font-family: "Nanum Gothic", sans-serif;
}
.form-control{
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #565656;
}
#form{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/*CSS to hide/show sections of the website*/
.hideRow{
	display: none;
}
.showRow{
	display: block;
}
/*Targeting the thumbnails by class to apply css styling */
.thumbnailTitle{
	color: #FBC02D;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}	
/*Style applied to the user's choice description*/
#choosenCatD{
	font-family: 'Nanum Gothic', sans-serif;
	margin-left: 15px;
}
#choosenCatH{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-left: 15px;
}
/*Style applied to registration page header*/
#regPageHeader{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #FBC02D;
}
/*Written by jamel boumazouna (90 to 192)*/
/*Style applied to gallery page*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height:600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  text-align: center;
  Padding-top: 100px;
  Padding-bottom: 100px;  
  display: none;
}

/*makes images fit inside container*/
.mySlides img {
  max-height:100%;
  object-fit: contain;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:  #D6D6D3;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover make the left and right arrow yellowish and slightly seethrough*/
.prev:hover, .next:hover {
  background-color: rgba(218,218,28,0.5);
}


/* Number text (1/6) */
.numbertext {
  color: #D6D6D3;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  text-align:center;
  bottom: 15px;
  left: 15px;
  background-color:#0B0B0A;
  color: #D6D6D3;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: -15px; 
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFD833;
  border-radius: 50%;
  display: inline-block;
 
}
/*makes current active dot different colour*/
.active, .dot:hover {
  background-color: #D6D6D3;
}
/*Written by jamel boumazouna (90 to 192)*/

.indextext {/*193 and below by conor oneill */
	font-family: "Nanum Gothic", sans-serif;
	font-size: 24px;
	text-align:center
}
.indextitles {
	font-family: 'Ubuntu', sans-serif;
	
}
.quiz {
	font-family: 'Ubuntu', sans-serif;
	color: #FBC02D;
	text-align: center;
}